@import "../../style/variables";

@mixin footerTextUpper {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #fff;
  text-transform: uppercase;
}

footer {
  width: 100vw;
  min-height: 35vh;
  background-color: $primary-color;
  .more-info {
    padding-left: 10rem;
    width: 100%;
    height: 25vh;
    display: grid;
    align-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    .footer--title {
      @include footerTextUpper;
      margin-bottom: 1rem;
    }
    .location {
      p span {
        line-height: 1.7;
        display: block;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
      }
    }
    .socials {
      img {
        height: 3rem;
        margin-right: 2rem;
      }
    }
  }
  .work-credit {
    height: 10vh;
    hr {
      border: 1px solid black;
    }
    p {
      @include footerTextUpper;
      text-align: center;
      margin-top: 1rem;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
