@import url("https://fonts.googleapis.com/css2?\family=Montserrat:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 10px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
