@import "../style/variables";

%header-topography {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
}

/* ---------Landing-page & heading ---------------- */
.landing-page {
  width: 100vw;
  height: 95vh;
  background-color: rgba($secondary-color, 0.9);
  background-image: linear-gradient(
      rgba($secondary-color, 0.9),
      rgba($secondary-color, 0.9)
    ),
    url(../assets/img/first-page-bg-sm.jpg);
  background-size: cover;
  background-position: top;

  &--heading {
    height: 100%;
    width: 100%;
    position: relative;
    .text-box {
      max-width: 45rem;
      margin: 0 auto;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

      .heading-primary {
        white-space: nowrap;
        color: #fff;
        backface-visibility: hidden;
        margin-bottom: 3rem;

        &--top {
          @extend %header-topography;
          animation: moveInLeft ease-out 1s;
          text-align: left;
          margin-bottom: 1rem;
        }

        &--bottom {
          @extend %header-topography;
          animation: moveInRight ease-out 1s;
          text-align: right;
        }
      }
      .heading-secondary {
        display: block;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.3rem;
        line-height: 1.6;
      }
    }
  }
}
/* ---------landing-page--delivery--vendors ---------------- */
.landing-page--delivery {
  width: 95vw;
  // max-width: 450px;
  margin: 0 auto;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  p {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &--vendors {
    img {
      height: 3.5rem;
      margin-right: 1.5rem;
      border-radius: 10px;
      transition: 0.4s;
      animation: moveInBottom 0.5s ease-out 1.3s;
      animation-fill-mode: backwards;
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1200px) {
  .landing-page {
    background-image: linear-gradient(
        rgba($secondary-color, 0.9),
        rgba($secondary-color, 0.9)
      ),
      url(../assets/img/first-page-bg-lg.png);
  }
}
